
Shaders_Test/HelloWorldShaders/.vscode/
Shaders_Test/HelloWorldShaders/Library/
Shaders_Test/HelloWorldShaders/obj/
Shaders_Test/HelloWorldShaders/Temp/
Shaders_Test/HelloWorldShaders_ShaderGraph/.vscode/
Shaders_Test/HelloWorldShaders_ShaderGraph/Library/
Shaders_Test/HelloWorldShaders_ShaderGraph/obj/
Shaders_Test/HelloWorldShaders_ShaderGraph/Temp/
Shaders_Test/CatLikeCodingTutorials/CatLikeCoding/Library/
Shaders_Test/CatLikeCodingTutorials/CatLikeCoding/obj/
Shaders_Test/CatLikeCodingTutorials/CatLikeCoding/Temp/
Shaders_Test/CatLikeCodingTutorials/CatLikeCoding/.vscode/
Shaders_Test/ShaderInUnity/Library/
Shaders_Test/ShaderInUnity/.vscode/
Shaders_Test/ShaderInUnity/obj/
Shaders_Test/ShaderInUnity/Temp/

UnitySimpleChallenges/Temp
UnitySimpleChallenges/obj
UnitySimpleChallenges/Logs
UnitySimpleChallenges/Library
UnitySimpleChallenges/.vs
UnitySimpleChallenges/.vscode
QMathChallenge/obj/
QMathChallenge/bin/
QLib/obj/
QMathChallenge/.vs/
QLib/bin/
QLib/.vs/
